<section class="pt-5 mt-5">
    <div class="container">
        <h1 class="mb-3 text-center fw-bold">Cart</h1>
        <div class="cart">
            <table class="table table-dark text-center">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Image</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Delete</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>EXTREME CHEESE BURGER JR</td>
                        <td>
                            <img src="/assets/images/g8.jpg" width="100" height="70" alt="">
                        </td>
                        <td>69.000 VND</td>
                        <td>
                            <div class="quantity">
                                <input class="text-center" type="number" min="0" value="1">
                            </div>
                        </td>
                        <td>
                            <button class="border-0 bg-transparent text-danger fw-bold">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-trash" viewBox="0 0 16 16">
                                    <path
                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                    <path
                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                </svg>
                            </button>
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>TENDERGRILL BURGER</td>
                        <td>
                            <img src="/assets/images/BurgerX.png" width="100" height="70" alt="">
                        </td>
                        <td>79.000 VND</td>
                        <td>
                            <div class="quantity">
                                <input class="text-center" type="number" min="0" value="2">
                            </div>
                        </td>
                        <td>
                            <button class="border-0 bg-transparent text-danger fw-bold">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-trash" viewBox="0 0 16 16">
                                    <path
                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                    <path
                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                </svg>
                            </button>
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>SPICY TENDERCRISP BURGER</td>
                        <td>
                            <img src="/assets/images/g4.jpg" width="100" height="70" alt="">
                        </td>
                        <td>79.000 VND</td>
                        <td>
                            <div class="quantity">
                                <input class="text-center" type="number" min="0" value="1">
                            </div>
                        </td>
                        <td>
                            <button class="border-0 bg-transparent text-danger fw-bold">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-trash" viewBox="0 0 16 16">
                                    <path
                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                    <path
                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                </svg>
                            </button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-between">
            <button class="btn btn-success">Update</button>
            <a href="/Cart/Checkout" class="btn btn-info">Check out</a>
        </div>
    </div>
</section>